        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: sans-serif;
            color: #aaaaaa;
            background-color: rgb(245, 245, 245);
        }
        
        div.container {
            overflow: auto;
        }
        
        h1 {
            size: 24px;
            color: #242424;
            font-weight: 900;
        }
        
        h2 {
            size: 20px;
            color: #606060;
            font-weight: 800;
        }
        
        p {
            size: 14px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        header {
            background-color: #e5e5e5;
            padding: 15px;
            text-align: center;
        }
        
        nav {
            float: left;
            width: 20%;
            text-align: center;
        }
        
        ul {
            list-style: none;
            margin-left: 100px;
            padding: 20px;
            border: solid 2px blue;
            max-width: 40%;
        }
        
        section li {
            font-family: monospace;
            size: 18px;
            padding: 10px;
        }
        
        a {
            font-weight: bold;
        }
        
        li a {
            color: orange;
            text-decoration: underline;
        }
        
        .verde,
        .verde a {
            color: green;
        }
        
        main {
            float: left;
            width: 60%;
            padding: 0 20px;
        }
        
        .right {
            background-color: #e5e5e5;
            float: left;
            width: 20%;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
        
        footer {
            background-color: #e5e5e5;
            text-align: center;
            padding: 10px;
            margin-top: 7px;
        }
        
        li:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        /* For mobile phones: */
        
        @media only screen and (max-width: 620px) {
            nav,
            main,
            .right {
                width: 100%;
            }
        }